.hot {
  margin: 0 0 26px 0;
}
.hot__image {
  margin: 0 0 15px 0;
  height: 140px;
  width: 240px;
  object-fit: cover;
  object-position: 50% 50%;
}

.hot__text {
  margin: 10px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 135%;
}

.hot__characteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.categoryblue {
  background-color: #609FFF;
  color: #fff;
  font-weight: 600;
  font-size: 11px;
  line-height: 147.9%;
  text-transform: uppercase;
  max-width: 72px;
  padding: 3px 14px;
}
