.main {
  display: -webkit-box;
  display: -ms-flexbox;
  max-width: 1230px;
  display: flex;
  margin: 31px auto 89px auto
;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}